* {
	--gameWidth: 1200px;
	--gameHeight: 800px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	font-family: Arial;
	background-color: #111;
	color: #efefef;
}

main {
	display: flex;
	gap: 8px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.board {
	width: var(--gameWidth);
	margin: 0 auto;
	margin-top: 10px;
}

.error_answer {
	background-color: red;
	opacity: 0;
	height: var(--gameHeight);
	width: var(--gameWidth);
	position: absolute;
}

.error_answer_show {
	animation: showError 250ms forwards;
}

#game_canvas {
	background-color: black;
	width: var(--gameWidth);
	height: var(--gameHeight);
	border: 2px solid white;
}

.info {
	color: grey;
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
}

.score {
	color: white;
	text-align: center;
	margin-top: 2rem;
	font-size: 2rem;
}

#score_board {
	width: var(--gameWidth);
	margin: 0 auto;
	margin-top: 10px;
	height: var(--gameHeight);
	border: 2px solid white;
	background-image: url('/background.png');
	position: relative;
}

.score_result {
	position: absolute;
	inset: 0;
	margin: auto;
	width: 400px;
	height: 550px;
	border-radius: 5px;
	background-color: #0F1828;
	padding: 12px;
	box-shadow: 4px 4px 12px 0px rgb(8, 8, 8);
}

.score_header {
	font-size: 52px;
	font-weight: 800;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	position: absolute;
	top: -72px;
	left: -20px;
	transform: rotate(-10deg);
	color: white;
	animation: slideDown 1s;
}

.inner {
	background-color: #566C98;
	width: calc(100% - 24px);
	height: calc(100% - 24px);
	border-radius: 5px;
	padding: 12px;
}

.inner_circle {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	border: 1px solid white;
	border-radius: 5px;
	background-color: transparent;
	width: 100%;
	height: 100%;
	text-align: center;

	&>img {
		margin-top: 12px;
		max-width: 90px;
	}
}

.user_score {
	margin-top: 16px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	gap: 8px;

	&>* {
		margin: 0;
	}
}

.score_table {
	display: grid;
	margin-top: 8px;
	width: 250px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(auto-fill, '30px');
	height: 200px;
	overflow-y: auto;

	&>* {
		border-bottom: 1px solid #0F1828;
		padding: 4px;
	}
}

.rematch_section {
	display: flex;
	justify-content: flex-end;
	width: 360px;
}

.form_button {
	padding: 6px 12px;
	animation: slideUp 1s;
	font-weight: 700;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-image: linear-gradient(45deg,
			hsl(218deg 45% 11%) 0%,
			hsl(212deg 50% 13%) 28%,
			hsl(207deg 56% 14%) 44%,
			hsl(203deg 62% 16%) 54%,
			hsl(199deg 70% 17%) 62%,
			hsl(196deg 78% 18%) 68%,
			hsl(193deg 86% 18%) 73%,
			hsl(190deg 91% 19%) 80%,
			hsl(187deg 91% 20%) 88%,
			#095f67 100%);
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	transition: box-shadow 200ms ease-in-out;
	box-shadow: 2px 2px 6px 0px rgb(8, 8, 8);
}

#config_board {
	width: var(--gameWidth);
	margin: 0 auto;
	margin-top: 10px;
	height: var(--gameHeight);
	border: 2px solid white;
	background-image: url('/background.png');
	position: relative;
	z-index: 1;
}

.config_modal {
	position: absolute;
	inset: 0;
	margin: auto;
	width: 400px;
	height: 550px;
	border-radius: 5px;
	background-color: #0F1828;
	padding: 12px;
	box-shadow: 4px 4px 12px 0px rgb(8, 8, 8);
}

.config_header {
	font-size: 52px;
	font-weight: 800;
	line-height: 1;
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	position: absolute;
	top: -85px;
	left: -105px;
	transform: rotate(-10deg);
	color: white;
	max-width: min-content;
	animation: slideDown 1s;
}

.register_header {
	margin-top: 48px;
	margin-bottom: 12px;
}

.register_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;

	&>input {
		width: 80%;
		border-radius: 5px;
		padding: 4px;
		outline: none;
		border: 2px solid hsl(185deg 84% 22%);
		font-weight: 600;
	}

	&>span {
		color: hsl(0, 98%, 64%);
		font-style: italic;
		font-size: .8rem;
	}

	&>input:focus-within {
		border: 2px solid #0F1828;
	}

	&>input {
		position: relative;
		z-index: 2;
	}

	& label {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
	}
}

.checkbox {
	appearance: none;
	background: lightgray;
	display: inline-block;
	position: relative;
	height: 1.4rem;
	width: 2.25rem;
	vertical-align: middle;
	border-radius: 2rem;
	box-shadow: 0px 1px 3px #0003 inset;
	transition: 0.25s linear background;

	&:hover {
		cursor: pointer;
	}
}

.checkbox::before {
	content: '';
	display: block;
	width: 1rem;
	height: 1rem;
	background: #fff;
	border-radius: 1.2rem;
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	box-shadow: 0px 1px 3px #0003;
	transition: 0.25s linear transform;
	transform: translateX(0rem);
}

.checkbox:checked {
	background: #0F1828;
}

.checkbox:checked::before {
	transform: translateX(.9rem);
}

.register_button {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.sound_button {
	position: absolute;
	width: 30px;
	top: 30px;
	left: 385px;
	display: grid;
	cursor: pointer;
	padding: 4px;
}

.disabled {
	&::after {
		content: '';
		width: 5px;
		height: 40px;
		border-radius: 5px;
		background-color: #095f67;
		position: absolute;
		transform: rotate(45deg);
		top: -6px;
		left: 10px;
	}
}

.buttons_panel {
	margin-top: 16px;
}

.github-button {
	width: 32px;
	cursor: pointer;
	aspect-ratio: 1;
}

#app-version {
	margin-top: auto;
	margin-bottom: 8px;
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.514);
}

@keyframes slideDown {
	0% {
		translate: 0 -50vh;
	}

	50% {
		translate: 0 0;
	}

	70% {
		translate: 0 -2vh;
	}

	100% {
		translate: 0 0;
	}
}

@keyframes slideUp {
	0% {
		translate: 0 50vh;
	}

	50% {
		translate: 0 0;
	}

	70% {
		translate: 0 2vh;
	}

	100% {
		translate: 0 0;
	}
}

@keyframes showError {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 0.2;
	}

	50% {
		opacity: 0.5;
	}

	75% {
		opacity: 0.2;
	}

	100% {
		opacity: 0;
	}
}